[Desktop Entry]
Type=Application
Name=Install TunaOS
Comment=Install TunaOS on this computer
Exec=tuna-installer-niri
Icon=org.tunaos.InstallerNiri
Terminal=false
Categories=System;
Keywords=install;installer;tunaos;bootc;
